@font-face{
	font-family:"helvetica-neue-regular";
	src:url("../font/helvetica-neue-regular.eot") format("eot"),
	url("../font/helvetica-neue-regular.woff") format("woff"),
	url("../font/helvetica-neue-regular.ttf") format("truetype"),
	url("../font/helvetica-neue-regular.svg#helvetica-neue-regular") format("svg");
}

@font-face{
	font-family:"helvetica-neue-bold";
	src:url("../font/helvetica-neue-bold.eot") format("eot"),
	url("../font/helvetica-neue-bold.woff") format("woff"),
	url("../font/helvetica-neue-bold.ttf") format("truetype"),
	url("../font/helvetica-neue-bold.svg#helvetica-neue-bold") format("svg");
}