// Color Variables
$primaryColor: #FF9C00;
$heroBg1: #1A4789;
$heroBg2: #6DBBD9;
$textWhite: #ffffff;
$textDark: #28384E;
$headingColor: #072753;

// Fonts Variables
$regularFont: "helvetica-neue-regular";
$headingFont: "helvetica-neue-bold";
